@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
  }
  
  .highlight {
    box-shadow: 0 0 10px 2px #5FA2B2;
    transition: box-shadow 0.3s ease;
  }

  /* Add this to your global CSS file */
  .dragging {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
  }

.grab {
  cursor: grab;
}


@keyframes fly {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(5px, -5px);
  }
  100% {
    transform: translate(0, 0);
  }
}

.hover-fly:hover .icon-fly {
  animation: fly 0.5s ease-in-out infinite;
}

  /* styles/globals.css */

@keyframes float1 {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

@keyframes float2 {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-30px);
  }
}

@keyframes float3 {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-25px);
  }
}

/* Tailwind animation classes */
.animate-float1 {
  animation: float1 6s infinite ease-in-out;
}

.animate-float2 {
  animation: float2 8s infinite ease-in-out;
}

.animate-float3 {
  animation: float3 7s infinite ease-in-out;
}


@media print {
  .page-break { 
    page-break-before: always; 
  }
  .no-break {
    page-break-inside: avoid; /* Prevents content from being split across pages */
  }
}

/* Add custom classes for sections to avoid breaks inside */
.section-header {
  font-size: 24px;
  font-weight: bold;
  text-align: left;
  margin-top: 1rem;
}


.prose {
  font-family: 'Montserrat', sans-serif;
}

.ql-editor::before {
  font-family: 'Montserrat', sans-serif;
  color: #9CA3AF;
}


#tags {
  width: 40%;
  margin: 50px auto;
}

#tags .ReactTags__tags {
  position: relative;
  display: flex;
  align-items: center;
  background-color: #f9f9f9;
  padding: 5px 10px;
}

#tags .ReactTags__selected {
  display: flex;
}

#tags .ReactTags__clearAll {
  cursor: pointer;
  padding: 10px;
  margin: 10px;
  background: #f88d8d;
  color: #fff;
  border: none;
}

#tags .ReactTags__tagInput {
  border-radius: 2px;
  display: inline-block;
}

#tags .ReactTags__tagInput input.ReactTags__tagInputField, #tags .ReactTags__tagInput input.ReactTags__tagInputField:focus {
  height: 31px;
  margin: 0;
  font-size: 12px;
  min-width: 150px;
  padding: 0px 10px;
}

#tags .ReactTags__editInput {
  border-radius: 1px;
}

#tags .ReactTags__editTagInput {
  display: inline-flex;
}

#tags .ReactTags__selected span.ReactTags__tag {
  border: 1px solid #ddd;
  background: #63bcfd;
  color: white;
  font-size: 12px;
  display: flex;
  padding: 5px;
  margin: 0 5px;
  border-radius: 2px;
}

#tags .ReactTags__selected a.ReactTags__remove {
  color: #aaa;
  margin-left: 5px;
  cursor: pointer;
}

#tags .ReactTags__suggestions {
  position: absolute;
}

#tags .ReactTags__suggestions ul {
  list-style-type: none;
  box-shadow: 0.05em 0.01em 0.5em rgba(0, 0, 0, 0.2);
  background: white;
  width: 200px;
}

#tags .ReactTags__suggestions li {
  border-bottom: 1px solid #ddd;
  padding: 5px 10px;
  margin: 0;
}

#tags .ReactTags__suggestions li mark {
  text-decoration: underline;
  background: none;
  font-weight: 600;
}

#tags .ReactTags__suggestions ul li.ReactTags__activeSuggestion {
  background: #b7cfe0;
  cursor: pointer;
}

#tags .ReactTags__remove {
  border: none;
  cursor: pointer;
  background: none;
  color: white;
  margin-left: 5px;
}

#tags input {
  background-color: #f9f9f9;
  border: none;
  outline: none;
}

#tags input:before {
  border: none;
}

.TaskTags {
  border: 1px solid #14aaf5;
  border-radius: 8px;
  padding: 5px;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  max-width: 100%;
}

.TaskTag {
  margin-right: 5px;
  padding: 5px;
  background-color: #ccc;
  color: white;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.TaskTag-deleteButton {
  margin-left: 8px;
  cursor: pointer;
}

.job-card:active {
  opacity: 1; /* Set the opacity you want during drag */
}


@font-face {
  font-family: 'Axiforma';
  src: url('/fonts/axiforma/Axiforma-Light.woff2') format('woff2'),
       url('/fonts/axiforma/Axiforma-Light.woff') format('woff');
  font-weight: 300; /* Light weight */
  font-style: normal;
}



@font-face {
  font-family: 'Axiforma';
  src: url('/fonts/axiforma/Axiforma-Thin.woff2') format('woff2'),
       url('/fonts/axiforma/Axiforma-Thin.woff') format('woff');
  font-weight: 100; /* Thin weight */
  font-style: normal;
}


/* Regular */
@font-face {
  font-family: 'Axiforma';
  src: url('/fonts/axiforma/Axiforma-Regular.woff2') format('woff2'),
       url('/fonts/axiforma/Axiforma-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* Bold */
@font-face {
  font-family: 'Axiforma';
  src: url('/fonts/axiforma/Axiforma-Bold.woff2') format('woff2'),
       url('/fonts/axiforma/Axiforma-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

/* ExtraBold */
@font-face {
  font-family: 'Axiforma';
  src: url('/fonts/axiforma/Axiforma-ExtraBold.woff2') format('woff2'),
       url('/fonts/axiforma/Axiforma-ExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}

/* Black */
@font-face {
  font-family: 'Axiforma';
  src: url('/fonts/axiforma/Axiforma-Black.woff2') format('woff2'),
       url('/fonts/axiforma/Axiforma-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

/* Medium */
@font-face {
  font-family: 'Axiforma';
  src: url('/fonts/axiforma/Axiforma-Medium.woff2') format('woff2'),
       url('/fonts/axiforma/Axiforma-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}


/* Hide scrollbar for Chrome, Safari, and Opera */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge, and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
